<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Powered by Python</h1>
      <p>Rendered by HTML and JavaScript</p>
    </div>
    <br>
    <div class="row">
    <center>
    <div class="col-xs-12">
      <img style="width:20%" src="../static/images/weather-icon.png"/>
      <br>
      <button class="btn btn-info"><a style="color:white" href="weather.html">Weather</a></button>
    </div>
    </center>
</div>
</div>
<body>