<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../linkers/weather.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <button class="btn btn-info"><a style="color:white" href="index.html">< Back</a></button>

    <div class="jumbotron">
      <h1>Weather Forecast</h1>
      <h2>Powered by Python</h2>
      <p>Rendered by HTML and JavaScript</p>
    </div>
    <br>
    <label>Enter your city here</label>
    <input id="city" type="text" placeholder="City"/>
    <button class="btn btn-success" onclick="get_weather()">Go!</button>

  </div>
<body>